/*Body*/

/*Body*/

/*Menu*/
ul{
    overflow: hidden;
    list-style-type: none;
    border: solid 0px;
}

li{
    float: right;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    float: right;
    text-align: right;
    -webkit-text-stroke: 0.1px black
}

li:hover{
    opacity: 70%;
    background-color: orangered;

}
/*Menu*/